.main {
  -fx-padding: 20px;
  -fx-spacing: 20px;
  -fx-font-size: 14px;
  -fx-font-family: Helvetica;
}

.panel {
  -fx-spacing: 10px;
  -fx-min-width: 150px;
  -fx-pref-width: 300px;
}

.title {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.instructions {
  -fx-line-spacing: 0.2em;
}

.file-pane {
  -fx-spacing: 10px;
}

.select-row {
  -fx-spacing: 10px;
  -fx-alignment: center-left;
}

.code-area {
  -fx-font-family: "Cascadia Code" !important;
  -fx-font-weight: 500;
}

.match {
  -rtfx-background-color: orange;
}
