.main {
  -fx-padding: 20px;
  -fx-spacing: 20px;
  -fx-font-size: 14px;
  -fx-font-family: Helvetica;
}

.panel {
  -fx-spacing: 10px;
  -fx-min-width: 150px;
  -fx-pref-width: 300px;
}

.title {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
}

.file-pane {
  -fx-spacing: 10px;
}

.code-area {
  -fx-font-family: "Cascadia Code" !important;
  -fx-font-weight: 500;
}
